<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta name="content" content="width=device-width, initial-scale=1.0" />
  <title>My Universal React App</title>
  <link href="css/main.css" rel="stylesheet"/>
</head>
<body>
  <div id="app"><%- markup %></div>
  <script src="build.js"></script>
</body>
</html>